%div{id: dom_id(task)}
  %p
    %strong= Task.human_attribute_name(:name) + ":"
    = task.name

  %p
    %strong= Task.human_attribute_name(:description) + ":"
    = task.description

  %p
    %strong= Task.human_attribute_name(:due_date) + ":"
    = task.due_date

  %p
    %strong= Task.human_attribute_name(:category) + ":"
    = task.category&.name

