%p{style: "color: green"}= notice

- content_for :title, t('.title')

%h1= t('.title')

%div{id: "tasks"}
  - @tasks.each do |task|
    = render task
    %p
      = link_to t('.show'), task

= link_to t('tasks.new_task'), new_task_path
