%p{style: "color: green"}= notice

= render @task

.notes-container
  #notes
    - @task.notes.each do |note|
      = render "tasks/notes/note", note: note

  = render "tasks/notes/form", task: @task, note: Note.new

%div
  = link_to t('.edit'), edit_task_path(@task)
  |
  = link_to t('.back'), tasks_path
  |
  = button_to t('.destroy'), @task, method: :delete