!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %title Organizador | Buk Style
    = csrf_meta_tags
    = csp_meta_tag
    
    %script{src: "https://code.jquery.com/jquery-3.6.0.min.js"}
    %script{src: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"}
    -# 1. Estilos de Bootstrap 5 (Vía CDN)
    %link{href: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css", rel: "stylesheet"}
    
    -# 2. Iconos de FontAwesome
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css", rel: "stylesheet"}

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    
    -# 3. JavaScript de Bootstrap 5
    %script{src: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"}

  %body.bg-light
    = render 'layouts/navbar'    
    
    .container.mt-4.pb-5
      #flash-messages
        = render 'layouts/messages'      
      
      -# Este es el contenedor principal donde se verá tu contenido
      %main.shadow-sm.bg-white.rounded.p-4
        = yield